.gutenberg-faq-block {

    .heading {
        font-weight: $bold;
        font-size: clamp($size35, 5vw, $size55);
        text-align: center;
        margin-bottom: 1em;
        line-height: 1;
    }

    .accordion-container {

        .accordion {
            border: 2px solid $darkgrey;
            border-radius: 10px;
            padding: 1em;
            margin-bottom: 1em;

            .accordion-title {
                cursor: pointer;
                font-weight: $medium;
                font-size: clamp($size20, 5vw, $size25);
                display: flex;
                justify-content: space-between;
                @include transition(all .4s ease);
                &:after {
                    content: '\002B';
                    font-weight: $medium;
                    float: right;
                    margin-left: 5px;
                }

                &.active {
                    color: $red;
                    font-weight: $medium;
                    &:after {
                        content: "\2212";
                        color: $red;
                    }
                }

                span {
                    padding-right: 1em;
                }
            }
            .accordion-panel {
                max-height: 0;
                overflow: hidden;
                @include transition(max-height 0.2s ease-out);
                font-weight: $light;
                font-size: clamp($size16, 5vw, $size20);
            }
        }
    }
}