.gutenberg-featured-page-block {
    overflow-x: hidden;
    .featured-page-container {
        &.onec {

        }
        &.twoc {

        }
        &.threec {
        
        }

        .featured-page {
            position: relative;
            height: 70vh;
            overflow: hidden;
            .page-image {
                > a {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include transition(all .8s ease);
                }
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    background-color: rgba($black, 0.5);
                    @include transition(all .8s ease);
                    z-index: 2;
                }
            }
            &:hover {
                .page-image {
                    img {
                        transform: scale(1.1);
                    }
                    &:after {
                        background-color: rgba($black, 0.3);
                    }
                }
            }
            &.red {
                background-color: $red;
            }
            &.blue {
                background-color: $blue;
            }
            &.extra-page {
                > a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                &:after {
                    content: none;
                }
            }

            .title {
                position: absolute;
                z-index: 3;
                bottom: 30px;
                left: 20px;
                color: $white;
                font-weight: $bold;
                font-size: clamp($size25, 5vw, $size30);
                a {
                    display: flex;
                }
            }
        }
    }
}