.gutenberg-gallery-block {
    .swiper-slide {
        &:nth-child(3n+1) {
            width: 50%;
            .img-box {
                margin-top: 3em;
            }
        }
        &:nth-child(3n+2) {
            width: 36%;
        }
        &:nth-child(3n+3) {
            width: 46%;
            .img-box {
                margin-top: 4em;
            }
        }
    }
    .img-box {
        position: relative;
        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
    }
}