.gutenberg-homepage-slider {
    height: 100vh;
    background-color: $black;
    .homepage-slider,
    .swiper {
        height: 100%;
        min-height: 450px;
    }

    .swiper-slide {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(90deg, rgba(0,0,0,0.76234243697479) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.76234243697479) 0%, rgba(0,0,0,0) 100%);
            background: linear-gradient(90deg, rgba(0,0,0,0.76234243697479) 0%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond_to(md-down) {
                flex-direction: column;
                align-items: flex-start;
            }
        }    
        .slide-content {
            width: 100%;
            position: absolute;
            bottom: 130px;
            z-index: 3;
            h1 {
                font-weight: $bold;
                font-size: clamp($size50, 5vw, $size100);
                color: $white;
                margin-bottom: .2em;
            }
            .slide-description {
                font-size: clamp($size18, 5vw, $size26);
                color: $white;
                @include respond_to(md-down) {
                    margin-bottom: 1em;
                }
            }
        }
    }
    .swiper-nav-container {
        width: 100%;
        position: absolute;
        bottom: 40px;
        z-index: 1;
        @include respond_to(md-down) {
            bottom: 0;
        }
        .container {
            display: flex;
        }
        .swiper-button-prev,
        .swiper-button-next {
            height: 44px;
            width: 44px;
            position: relative;
            right: 0;
            left: 0;
            border: 1px solid $white;
            &:after {
                color: $white;
                font-weight: $bold;
                font-size: 16px;
            }
        }
        .swiper-button-prev {
            margin-right: 10px;
        }
    }
}