.logos-block {
    padding: 3.6rem 1rem;
    .logo-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -1rem;
        padding: 0;
        >* {
            padding: 1rem;
        }
    }
}