.gutenberg-profile-block {

    .heading {
        color: $black;
        font-size: clamp($size50, 5vw, $size100);
        font-weight: $bold;
        position: relative;
        z-index: 2;
        margin-bottom: -1em;
        text-align: center;
        span {
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: $black;
            -webkit-text-stroke-width: 1px;
        }
    }
    .profiles-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond_to(md-down) {
            flex-direction: column;
        }

        .profile {
            width: calc(50% - 20px);
            text-align: center;
            @include respond_to(md-down) {
                width: calc(100% - 0px);
                margin-bottom: 1em;
            }

            .profile-image {
                background-image: url('../images/logo-in-black.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center;

                img {
                    max-width: 434px;
                    width: 60%;
                    height: auto;
                    margin: auto;
                    display: block;
                    border-radius: 100%;
                    padding: 15%;
                }
            }

            .name {
                font-size: clamp($size25, 5vw, $size35);
                font-weight: $bold;
            }
            a {
                display: inline-flex;
                align-items: center;
                color: $black;
                margin-top: .5em;
                svg {
                    margin-right: .5em;
                }
            }
        }
    }
}