.gutenberg-scroll-pin {
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($black, 0.4);
        z-index: 1;
    }
    .bg-slide {
        height: 100vh;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .container-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .slide-background {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                &:first-child {
                    opacity: 1 !important;
                }
            }
        }
    }

    .container-slide {
        position: relative;
        top: 0;
        z-index: 2;
        .slide {
            height: 100vh;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            .slide-content {
                color: $white;
                margin-bottom: 2em;
                .title {
                    font-size: clamp($size50, 5vw, $size100);
                    font-weight: $bold;
                    margin-bottom: 20px;
                    line-height: 1;
                    span {
                        color: rgba($white, 0);
                        -webkit-text-stroke: 1px $white;
                    }
                }
                .desc {
                    width: 70%;
                    font-size: clamp($size16, 4vw, $size25);
                    margin-bottom: 1em;
                    @include respond_to(md-down) {
                        width: 100%;
                    }
                }
                .links {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    @include respond_to(sm-down) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    a {
                        @include respond_to(sm-down) {
                            align-self: stretch;
                            justify-content: space-between;
                        }
                        &:first-child {
                            margin-right: 1em;
                            @include respond_to(sm-down) {
                                margin-right: 0;
                                margin-bottom: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}