.gutenberg-testimonial-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.125rem 1rem;
    color: #fff;
    background-color: #293a96;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
    @include respond_to(md-down) {
        display: block;
        min-height: auto;
    }

    .container {

        .testimonial-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @include respond_to(md-down) {
                flex-direction: column;
            }

            .col-title {
                flex: 0 0 57%;
                max-width: 57%;
                @include respond_to(md-down) {
                    flex: 1;
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 5em;
                }
                .title {
                    font-size: clamp($size50, 5vw, $size100);
                    margin-bottom: .5em;
                    span {
                        display: block;
                        color: rgba($white, 0);
                        -webkit-text-stroke: 1px $white;
                    }
                }
            }

            .col-testimonials {
                flex: 0 0 43%;
                max-width: 43%;
                @include respond_to(md-down) {
                    flex: 1;
                    max-width: 100%;
                }
                .testimonials {
                    position: relative;
                    max-width: 616px;
                    padding: 9rem 4.375rem 4.375rem;
                    background-color: #293a96;
                    box-shadow: 2px 4px 20px rgba(14,19,50,0.5);
                    -webkit-box-shadow: 2px 4px 20px rgba(14,19,50,0.5);
                    -moz-box-shadow: 2px 4px 20px rgba(14,19,50,0.5);
                    @include respond_to(md-down) {
                        padding: 5em 1em 1em;
                        width: auto;
                    }
                    &:before {
                        font-family: Georgia,"Times New Roman",Times,serif;
                        font-size: 300px;
                        font-weight: 700;
                        line-height: 1;
                        position: absolute;
                        top: -80px;
                        left: -90px;
                        content: '"';
                        transform: matrix(0.98, 0.21, -0.21, 0.98, 0, 0);
                        color: $red;
                        @include respond_to(md-down) {
                            font-size: 175px;
                            top: -50px;
                            left: -30px;
                        }
                    }

                    .review,
                    span.author {
                        font-size: clamp($size14, 5vw, $size25);
                    }

                    .review {
                        font-weight: $light;
                        margin-bottom: 1em;
                    }
                    span.author {
                        font-weight: $light;
                        font-style: italic;
                    }

                    .swiper-pagination {
                        position: relative;
                        text-align: left;
                        margin-top: 2rem;
                        .swiper-pagination-bullet {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
        }
    }
}