.gutenberg-text-cta-block {
    font-size: clamp($size16, 5vw, $size30);
    text-align: center;

    .text-content {
        a {
            color: $blue;
            font-weight: $bold;
            text-decoration: none;
        }
    }
}