.gutenberg-text-content-block {
    h2 {
        font-size: clamp($size20, 7vw, $size50);
    }
    .content {
        font-size: clamp($size16, 3vw, $size25);
        p {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
    .two-column-container {
        .heading {
            h2 {
                margin-bottom: 1em;
            }
        }
        .content {
            display: flex;
            justify-content: space-between;
            @include respond_to(sm-down) {
                flex-wrap: wrap;
            }
            > div {
                width: calc(50% - 50px);
                @include respond_to(md-down) {
                    width: calc(50% - 20px);
                }
                @include respond_to(sm-down) {
                    width: calc(100% - 0px);
                }
            }
        }
    }

    .side-header-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include respond_to(sm-down) {
            flex-wrap: wrap;
        }
        .heading {
            h2 {
                margin-bottom: 1em;
            }
        }
        > div {
            width: calc(50% - 50px);
            @include respond_to(md-down) {
                width: calc(50% - 20px);
            }
            @include respond_to(sm-down) {
                width: calc(100% - 0px);
            }
        }
    }
}