.gutenberg-three-column-grid {
    padding: 5em 0 9em;
    @include respond_to(sm-down) {
        padding: 3em 0;
    }
    .three-column-grid-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .column-grid {
            width: calc(33.333% - 10px);
            position: relative;
            @include respond_to(sm-down) {
                width: calc(100% - 0px);
                margin-bottom: 6em;
            }
            @include respond_to(xs-down) {
                width: calc(100% - 0px);
                margin-bottom: 5em;
            }
            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                display: block;
            }

            .col-grid-content {
                position: absolute;
                background-color: $white;
                width: 90%;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: -10%;
                border-radius: 5px;
                padding: 10px;

                box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.20);
                -webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.20);
                -moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.20);

                .col-title {
                    font-weight: $medium;
                    font-size: clamp($size25, 5vw, $size30);
                    color: $blue;
                    @include respond_to(md-down) {
                        font-size: clamp($size25, 2vw, $size30);
                    }
                }
                .short-desc {
                    overflow: hidden;
                    max-height: 0;
                    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                }
            }
            &:hover {
                .short-desc {
                    max-height: 500px;
                    transition: max-height 1s ease-in-out;
                }
            }

        }
    }
}