.gutenberg-video-block {
    .video-container {
        max-height: 850px;
        position: relative;
        &:after {
            content: '';
            display: block;
            padding-bottom: 60%;
        }
        &:hover {
            a {
                transform: scale(1.2);
            }
        }
        a {
            display: block;
            position: absolute;
            width: 150px;
            height: 150px;
            cursor: pointer;
            border-radius: 100%;
            background-color: $blue;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @include transition(all .4s ease);
            @include respond_to(md-down) {
                width: 100px;
                height: 100px;
            }
            &:after {
                content: '';
                display: block;
                background-image: url('../images/icons/play-icon.svg');
                background-position: center;
                background-size: 38px;
                background-repeat: no-repeat;
                width: 38px;
                height: 45px;
            }
        }
    }
}