.gutenberg-who-we-are-block {
    background-color: $lightgrey;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 3em;
    @include respond_to(md-down) {
        flex-direction: column;
        height: auto;
        padding: 3em 0;
    }

    .svg-jj-logo-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: -20px;
        margin: auto 0;
        -webkit-animation:spin 100s linear infinite;
        -moz-animation:spin 100s linear infinite;
        animation:spin 100s linear infinite;

        @-moz-keyframes spin { 
            100% { -moz-transform: rotate(360deg); } 
        }
        @-webkit-keyframes spin { 
            100% { -webkit-transform: rotate(360deg); } 
        }
        @keyframes spin { 
            100% { 
                -webkit-transform: rotate(360deg); 
                transform:rotate(360deg); 
            } 
        }

        @include respond_to(md-down) {
            width: 100%;
            height: auto;
            top: 0;
            bottom: unset;
            left: 0;
        }
    }

    .text-content {
        width: 40%;
        padding-left: 100px;
        padding-right: 50px;
        position: relative;
        z-index: 2;
        padding-bottom: 10%;
        @include respond_to(md-down) {
            width: auto;
            padding-left: 50px;
            padding-right: 50px;
        }
        @include respond_to(sm-down) {
            padding-left: 25px;
            padding-right: 25px;
        }
        h2 {
            font-weight: $bold;
            font-size: clamp($size50, 5vw, $size100);
            strong {
                color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-color: #000;
                -webkit-text-stroke-width: 2.00px;
            }
        }
        p {
            font-size: clamp($size16, 5vw, $size25);
        }
    }
    .image-mask {
        width: 60%;
        height: 100%;
        position: relative;
        @include respond_to(md-down) {
            width: 100%;
        }
        &:after {
            content: '';
            display: block;
            padding-bottom: 67%;
        }
        .blend-video {
            height: auto;
            width: 100%;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100%;
            mask-size: 100%;
            position: absolute;
            bottom: 0;
            @include respond_to(md-down) {
                height: 100%;
            }
        }
        video {
            width: 119%;
        }
        .blend-cover {
            background: rgb(41,58,150);
            background: -moz-linear-gradient(142deg, rgba(41,58,150,1) 47%, rgba(238,38,40,1) 89%);
            background: -webkit-linear-gradient(142deg, rgba(41,58,150,1) 47%, rgba(238,38,40,1) 89%);
            background: linear-gradient(142deg, rgba(41,58,150,1) 47%, rgba(238,38,40,1) 89%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#293a96",endColorstr="#ee2628",GradientType=1);
            mix-blend-mode: hard-light;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}