html {
    margin: 0;
    padding: 0;
    font-family: $globalFont;
    body {
        margin: 0;
        padding: 0;
        &.admin-bar {
            header.header {
                margin-top: 32px;
                @include respond_to(custom, false, 782px) {
                    margin-top: 46px;
                }
            }
        }
    }
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1;
    margin: 0;
}

.wp-block {
    max-width: none !important;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    font-size: clamp($size16, 5vw, $size20);
    font-weight: $bold;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $white;
    text-decoration: none;
    height: 50px;
    min-width: 247px;
    @include respond_to(md-down) {
        font-size: clamp($size14, 5vw, $size16);
    }
    &.btn-rounded {
        border-radius: 50px;
    }
    //BORDER
    &.border-white {
        border: 2px solid $white;
    }
    //SOLID
    &.btn-red {
        background-color: $red;
    }
    &.btn-link-arrow {
        color: $red;
        text-transform: unset;
        font-weight: $medium;
        display: inline-flex;
        justify-content: flex-start;
        span {
            border: 2px solid $red;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            @include respond_to(md-down) {
                width: 30px;
                height: 30px;
            }
            svg {
                @include respond_to(md-down) {
                    width: 13px;
                }
                path {
                    fill: $red;
                }
            }
        }
        &:hover {
            span {
                background-color: $red;
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }

    &.btn-solid-arrow {
        color: $black;
        text-transform: unset;
        font-weight: $medium;
        display: inline-flex;
        justify-content: flex-start;
        background-color: $grey;
        padding: 0.5em 1em;
        min-width: auto;
        span {
            border: 2px solid $black;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            svg {
                path {
                    fill: $black;
                }
            }
        }
        &:hover {
            span {
                background-color: $black;
                svg {
                    path {
                        fill: $grey;
                    }
                }
            }
        }

        &__red,
        &__blue {
            color: $white;;
            span {
                border: 2px solid $white;
                svg {
                    path {
                        fill: $white
                    }
                }
            }
        }

        &__red {
            background-color: $red;
        }
        &__blue {
            background-color: $blue;
        }
    }

    &.btn-circle-arrow {
        color: $white;
        text-transform: unset;
        font-weight: $medium;
        display: inline-flex;
        justify-content: flex-start;
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background-image: url('../images//icons/arrow-white.svg');
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: .5em;

        }
        &__border-red {
            &:after {
                border: 2px solid $red;
                border-radius: 100px;
            }
        }
        &__border-white {
            &:after {
                border: 2px solid $white;
                border-radius: 100px;
            }
        }
    }
}

main {
    section:first-child {
        margin-top: 6vh;
    }
    section {
        margin-bottom: 6vh;
    }
}