/* Fonts */
// ==========================================================================
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 800;

$black: #373737;
$white: #ffffff;
$darkgrey: #707070;
$lightgrey: #F8F8F8;
$grey: #D8D8D8;
$blue: #293A96;
$red: #EE2628;

$footerMenuColor: #717171;

$defaultsize : 16;
$size100: 100/$defaultsize + rem;
$size55: 55/$defaultsize + rem;
$size50: 50/$defaultsize + rem;
$size45: 45/$defaultsize + rem;
$size40: 40/$defaultsize + rem;
$size35: 35/$defaultsize + rem;
$size30: 30/$defaultsize + rem;
$size20: 20/$defaultsize + rem;
$size26: 26/$defaultsize + rem;
$size25: 25/$defaultsize + rem;
$size20: 20/$defaultsize + rem;
$size18: 18/$defaultsize + rem;
$size16: 16/$defaultsize + rem;
$size14: 14/$defaultsize + rem;

//RESPONSIVE
$screen-xs-min: 0px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xs-max: 575.98px;
$screen-sm-max: 767.98px;
$screen-md-max: 991.98px;
$screen-lg-max: 1199.98px;
$screen-xl-max: 3000px;

$container: 1920px;