.banner-page {
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    @include respond_to(sm-down) {
        height: 40vh;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(117deg, rgba(0,0,0,0.6951155462184874) 19%, rgba(0,0,0,0) 61%);
        background: -webkit-linear-gradient(117deg, rgba(0,0,0,0.6951155462184874) 19%, rgba(0,0,0,0) 61%);
        background: linear-gradient(117deg, rgba(0,0,0,0.6951155462184874) 19%, rgba(0,0,0,0) 61%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

    }
    
    .container {
        width: 100%;
        margin-bottom: 2em;
    }

    h1 {
        color: $white;
        font-size: clamp($size50, 5vw, $size100);
        position: relative;
        z-index: 2;
        span {
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: $white;
            -webkit-text-stroke-width: 1px;
        }
    }
}