footer.footer {
    background-color: $lightgrey;
    padding: 4em 0;

    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        @include respond_to(sm-down) {
            flex-direction: column;
            align-items: center;
        }
        li {
            a {
                color: $footerMenuColor;
                text-decoration: none;
                &:hover {
                    color: $blue;
                }
            }
        }
        li:not(:last-child) {
            margin-right: 1.5rem;
            @include respond_to(sm-down) {
                margin-right: 0;
            }
            &:after {
                margin-left: 1.5rem;
                content: "|";
                @include respond_to(sm-down) {
                    display: none;
                }
            }
        }
    }

    .site-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        @include respond_to(md-down) {
            flex-direction: column;
        }
        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include respond_to(sm-down) {
                text-align: center;
            }
            svg {
                height: 20px;
                width: auto;
                margin-right: .5em;
                @include respond_to(sm-down) {
                    display: none;
                }
            }
        }
        a {
            color: $footerMenuColor;
            text-decoration: none;
            &:hover {
                color: $blue;
            }
        }
    }

    .social-media-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .s-media:not(:last-child) {
            margin-right: 1em;
        }
    }

    .copyright {
        text-align: center;
        a {
            color: $footerMenuColor;
            text-decoration: none;
            &:hover {
                color: $blue;
            }
        }
    }
}