header.header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    @include transition(all .3s ease);

    &.scrolled {
        background-color: rgba($blue, 0.9);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-header {
        padding: 1em 2em;
        color: $white;
        border-bottom: 2px solid $white;
        font-size: $size16;
        @include transition (all .3s ease);

        @at-root .header.scrolled {
            .top-header {
                font-size: $size14;
                padding: .5em 2em;
            }
        }

        @include respond_to(md-down) {
            display: none;
        }

        a {
            color: $white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .phone {
                margin-left: 2em;
            }
        }
    }

    .bottom-header {
        padding: 0 2em;
        margin: 2em 0;

        @at-root .header.scrolled {
            .bottom-header {
                margin: .5em 0;
            }
        }

        @include respond_to(md-down) {
            margin: .5em 0;
            padding: 0 1em;
        }

        .logo {
            a {
                display: block;
            }
            img {
                max-width: 169px;
                display: block;
                @include transition (all .3s ease);
                @at-root .header.scrolled {
                    .bottom-header .logo img {
                        max-width: 70px;
                        @include transition (all .3s ease);
                    }
                }
                @include respond_to(md-down) {
                    max-width: 100px;
                }
            }
        }

        .bottom-right-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn {
                @include transition (all .3s ease);
                @at-root .header.scrolled {
                    .btn {
                        font-size: $size14;
                        min-width: 150px;
                    }
                }
                @include respond_to(md-down) {
                    display: none;
                }
            }

            .phone-icon {
                width: 21px;
                height: 21px;
                display: none;
                &:after {
                    content: '';
                    display: block;
                    background-image: url('../images/icons/phone-icon.svg');
                    background-position: center;
                    background-size: 21px;
                    background-repeat: no-repeat;
                    height: 21px;
                }
                @include respond_to(md-down) {
                    display: block;
                }
            }
    
            .menu-icon {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 42px;
                height: 27px;
                margin-left: 2em;
                @include respond_to(md-down) {
                    width: 21px;
                    height: 14px;
                    margin-left: 1em;
                }
                span {
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: $white;
                    @include respond_to(md-down) {
                        height: 2px;
                    }
                }
            }
        }
    }
}