// grid
$width: 100%;
$gutter: 4%;
.row {
  display: flex;
  margin: 0 -7.5px;
  flex-wrap: wrap;

  > [class^="col"] {
    padding: 0 7.5px 15px;
    @include respond_to(sm-down) {
      width: $width !important;
    }

    &.no-padding {
      padding: 0;
    }
  }

  .col-1 {
    width: ($width / 12);
  }

  .col-2 {
    width: ($width / 6);
  }

  .col-3 {
    width: ($width / 4);
  }

  .col-4 {
    width: ($width / 3);
  }

  .col-5 {
    width: ($width / (12 / 5));
  }

  .col-6 {
    width: ($width / 2);
  }

  .col-7 {
    width: ($width / (12 / 7));
  }

  .col-8 {
    width: ($width / (12 / 8));
  }

  .col-9 {
    width: ($width / (12 / 9));
  }

  .col-10 {
    width: ($width / (12 / 10));
  }

  .col-11 {
    width: ($width / (12 / 11));
  }

  .col-12 {
    width: $width;
  }


  .col-lg-down-6 {
    @include respond_to(lg-down) {
      width: ($width / 2);
    }
  }

  .col-lg-down-4 {
    @include respond_to(lg-down) {
      width: ($width / 3);
    }
  }

  .col-md-down-6 {
    @include respond_to(md-down) {
      width: ($width / 2);
    }
  }

}