.container {
    max-width: $container;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;

    @include respond_to(lg-down) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @include respond_to(md-down) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @include respond_to(sm-down) {
        padding-left: 25px;
        padding-right: 25px;
    }

    &.half{
        &.left{
            padding-left: 140px;
            padding-right: 0;
            @include respond_to(lg-down) {
                padding-left: 100px;
            }
    
            @include respond_to(md-down) {
                padding-left: 50px;
            }
    
            @include respond_to(sm-down) {
                padding-left: 25px;
            }
        }
        &.right{
           padding-left: 0;
           padding-right: 140px;
           @include respond_to(lg-down) {
            padding-right: 100px;
            }

            @include respond_to(md-down) {
                padding-right: 50px;
            }

            @include respond_to(sm-down) {
                padding-right: 25px;
            }
        }
    }

    &.no-gutter {
        padding-left: 0;
        padding-right: 0;
    }
}